/**
 * File: _about.scss
 * Author: Tad McCorkle
 * File for styling elements specific
 * to the about page.
 *
 * Elements:
 * - .about-img
 */


// implementation

.about-img {
  width: $about-image-width;
  @include screen-c {
    width: $about-image-width-c;
  }
  @include screen-d {
    width: $about-image-width-d;
  }
  @include screen-f {
    width: $about-image-width-f;
  }
}
