/**
 * File: _about.scss
 * Author: Tad McCorkle
 * File for styling elements specific
 * to the about page.
 *
 * Elements:
 * - .site-intro
 * - .about-img
 */


.site-intro {
  font-family: $site-intro-font-family;
  font-size: $site-intro-font-size;
  text-align: center;
  padding-top: $site-intro-padding-size;
  padding-bottom: $site-intro-padding-size;
  border-bottom: $content-border-size solid $content-border-color;
  @include screen-f {
    font-size: $site-intro-font-size-f;
  }
}

.about-img {
  width: $about-image-width;
  @include screen-c {
    width: $about-image-width-c;
  }
  @include screen-d {
    width: $about-image-width-d;
  }
  @include screen-f {
    width: $about-image-width-f;
  }
}
