/**
 * File: _contact.scss
 * Author: Tad McCorkle
 * File for styling the contact page.
 *
 * Elements:
 * - .contact-container
 * - .contact-content
 * - .contact-message-container
 * - .contact-form
 * - .contact-field
 */


// implementation

.contact-container {
  margin: auto;
  max-width: $max-contact-page-width;
  text-align: center;
}

.contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  @include screen-c {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact-message-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  @include screen-c {
    display: block;
    padding-right: 0;
  }
}

.contact-form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: inline-block;
  text-align: left;
  @include screen-c {
    display: block;
  }
}

.contact-field {
  padding: 0 1.25rem 2rem;
  @include screen-c {
    padding: 2rem 0 0;
  }
}
