/**
 * File: _contact.scss
 * Author: Tad McCorkle
 * File for styling the contact page.
 *
 * Elements:
 * - .contact-container
 * - .contact-content
 * - .contact-message-container
 * - .contact-form
 * - .contact-field
 */


// implementation

.contact-container {
  margin: auto;
  max-width: $max-contact-page-width;
  text-align: center;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  @include screen-c {
    flex-direction: column;
  }
}

.contact-message-container {
  flex: 1;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  @include screen-c {
    display: block;
    padding-right: 0;
  }
}

.contact-form {
  flex: 1;
  display: inline-block;
  text-align: left;
  @include screen-c {
    display: block;
  }
}

.contact-field {
  padding: 0 1.25rem 2rem;
  @include screen-c {
    padding: 2rem 0 0;
  }
}
