<section>
  {% if site.data.comments[page.slug] %}
    <hr>
    <div>
      <h2>
        Comments
      </h2>
      {% assign comments = site.data.comments[page.slug] | sort | where_exp: 'comment', 'comment[1].replying_to == blank' %}
      {% for comment in comments %}
        {% assign       index = forloop.index %}
        {% assign replying_to = comment[1].replying_to | to_integer                %}
        {% assign       email = comment[1].email                                   %}
        {% assign        name = comment[1].name                                    %}
        {% assign         url = comment[1].url                                     %}
        {% assign        date = comment[1].date                                    %}
        {% assign     message = comment[1].message                                 %}
        {% assign       class = 'comment-parent'                                %}

        {% include comment.html replying_to=replying_to
                                message=message
                                class=class
                                email=email
                                index=index
                                date=date
                                name=name
                                url=url %}
      {% endfor %}
    </div>
  {% endif %}
  <div id="respond" class="full-width">
    {% include comment-form.html %}
  </div>
</section>