<hr>

<!-- leaving new comment -->
<h3 id="comment-heading">
  {% assign page_slug = page.slug | replace: '.', '' %}
  {% if site.data.comments[page_slug] %}
    Add to the conversation
  {% else %}
    Start the conversation
  {% endif %}
</h3>

<!-- replying to existing comment -->
<h3 id="comment-reply-heading" style="display:none;">
  Your reply
  <small>
    <a id="comment-cancel" class="comment-cancel" rel="nofollow" href="{{ page.url | absolute_url }}#respond">
      CANCEL
    </a>
  </small>
</h3>

<form id="comment-form" class="comment-form" action="{{ site.staticman }}" method="POST">
  <input type="hidden" name="options[slug]" value="{{ page_slug }}">
  <input type="hidden" name="options[origin]" value="{{ page.url | relative_url }}">
  <input type="hidden" name="options[parent]" value="{{ page.url | relative_url }}">
  <input type="hidden" id="comment-replying-to" name="fields[replying_to]" value="">
  <input type="hidden" name="options[reCaptcha][siteKey]" value="{{ site.reCaptcha.siteKey }}">
  <input type="hidden" name="options[reCaptcha][secret]" value="{{ site.reCaptcha.secret }}">

  <fieldset class="comment-field">
    <label for="name" class="comment-label-text">Name
      <input id="name" class="comment-input" name="fields[name]" type="text" tabindex="1" required="true" placeholder="Displayed with your comment.">
    </label>
  </fieldset>
  <fieldset class="comment-field">
    <label for="email" class="comment-label-text">Email
      <input id="email" class="comment-input" name="fields[email]" type="email" tabindex="2" required="false" placeholder="For icon and notifications (won't be public).">
    </label>
  </fieldset>
  <fieldset class="comment-field">
    <label for="message" class="comment-label-text">Comment
      <textarea id="message" class="comment-message-input" name="fields[message]" tabindex="3" required="true" placeholder="What do you want to say? Markdown is supported."></textarea>
    </label>
  </fieldset>
  <fieldset class="comment-field">
    <label for="comment-form-subscribe" class="comment-label-check">
      <input type="checkbox" id="comment-form-subscribe" name="options[subscribe]" value="email" class="sr-visible">
      <span class="comment-form-subscribe-check">
        <div class="comment-form-subscribe-check-front"></div>
        <div class="comment-form-subscribe-check-back">
          <svg viewBox="0 0 16 14">
            <path d="M2 8.5L6 12.5L14 1.5"></path>
          </svg>
        </div>
      </span>
      <span class="comment-form-subscribe-message">
        Send me comment email notifications.
      </span>
    </label>
  </fieldset>
  <fieldset class="comment-field">
    <div class="g-recaptcha" data-sitekey="{{ site.reCaptcha.siteKey }}"></div>
  </fieldset>
  <fieldset class="comment-field">
    <button class="comment-submit" name="submit" type="submit" data-submit="...Sending">
      Submit
    </button>
      <div id="comment-submit-success" class="comment-submit-response" style="display:none;">
          Thanks for commenting! Your comment is <a href="https://github.com/tadmccorkle/tadmccorkle.github.io/pulls">pending</a>. It will appear when approved.
      </div>
      <div id="comment-submit-failure" class="comment-submit-response" style="display:none;">
          Sorry, there was an error when your comment was submitted. Please try again, or <a href="/contact/">contact me</a>.
      </div>
  </fieldset>
</form>