<figure class="multi-center full-width">
  {% if include.left_href %}
    <a href="{{ include.left_href }}">
  {% endif %}
    <img src="{{ 'assets/images/' | append: include.left_src | append: '?v=' | append: site.github.build_revision | relative_url }}"
          class="{{ include.left_class }} inline-block"
          alt="{{ include.left_alt }}" />
  {% if include.left_href %}
    </a>
  {% endif %}
  {% if include.right_href %}
    <a href="{{ include.right_href }}">
  {% endif %}
    <img src="{{ 'assets/images/' | append: include.right_src | append: '?v=' | append: site.github.build_revision | relative_url }}"
          class="{{ include.right_class }} inline-block"
          alt="{{ include.right_alt }}" />
  {% if include.right_href %}
    </a>
  {% endif %}
  {% if include.caption %}
    <figcaption class="center-figure-caption {{ include.caption_class }}">
      {{ include.caption | markdownify | remove: '<p>' | remove: '</p>' }}
    </figcaption>
  {% endif %}
</figure>