<footer>
  <div class="footer-container">
    <div class="site-footer">
      <ul>
        <li class="main-site-footer-link">
          <a class="footer-link-text" href="{{ site.about }}">
            {{ site.about_nav }}
          </a>
        </li>
        <li class="main-site-footer-link">
          <a class="footer-link-text" href="{{ site.blog }}">
            {{ site.blog_nav }}
          </a>
        </li>
        <li class="main-site-footer-link">
          <a class="footer-link-text" href="{{ site.projects }}">
            {{ site.projects_nav }}
          </a>
        </li>
        <li class="main-site-footer-link">
          <a class="footer-link-text" href="{{ site.contact }}">
            {{ site.contact_nav }}
          </a>
        </li>
      </ul>
      <ul>
        <li class="social-site-footer-link">
          <a class="footer-link-text" href="{{ site.github }}">
            <i aria-hidden="true" class="fab fa-github"></i>
            <span class="sr-visible">
              My GitHub
            </span>
          </a>
        </li>
        <li class="social-site-footer-link">
          <a class="footer-link-text" href="{{ site.linkedin }}">
            <i aria-hidden="true" class="fab fa-linkedin"></i>
            <span class="sr-visible">
              My LinkedIn
            </span>
          </a>
        </li>
        <li class="social-site-footer-link">
          <a class="footer-link-text" href="{{ site.instagram }}">
            <i aria-hidden="true" class="fab fa-instagram"></i>
            <span class="sr-visible">
              My Instagram
            </span>
          </a>
        </li>
      </ul>
      <div class="copyright">
        <p>
          {{ site.copyright }}
        </p>
      </div>
    </div>
  </div>
</footer>