<header>
  <div class="header-container">
    <nav class="site-nav">
      <div class="site-header-logo">
        <a class="site-title" href="/">
          {{ site.title }}
        </a>
        <div id="site-tagline" class="site-tagline">
          <span class="main-tagline">
            {{ site.tagline }}
          </span>
          {% for tagline in site.alt_taglines %}
            <span class="alt-tagline">
              {{ tagline }}
            </span>
          {% endfor %}
        </div>
      </div>
      {% comment %}
      <!-- hamburger menu not used in current site -->
      <!--
        <button name="navigation-toggle" class="hamburger">
          <div class="patty" aria-hidden="true"></div>
          <div class="patty" aria-hidden="true"></div>
          <div class="patty" aria-hidden="true"></div>
          <span class="sr-visible">
            Nav Menu Toggle
          </span>
        </button>
      -->
      {% endcomment %}
      <ul id="main-site-header-links" class="main-site-header-links">
        <li class="main-site-header-link">
          <a class="{% if page.url == site.about %}{{ 'active' }}{% endif %} header-link-text" href="{{ site.about }}">
            {{ site.about_nav }}
          </a>
        </li>
        <li class="main-site-header-link">
          <a class="{% if page.title == site.blog_title %}{{ 'active' }}{% endif %} header-link-text" href="{{ site.blog }}">
            {{ site.blog_nav }}
          </a>
        </li>
        <li class="main-site-header-link">
          <a class="{% if page.url == site.projects %}{{ 'active' }}{% endif %} header-link-text" href="{{ site.projects }}">
            {{ site.projects_nav }}
          </a>
        </li>
        <li class="main-site-header-link">
          <a class="{% if page.url == site.contact %}{{ 'active' }}{% endif %} header-link-text" href="{{ site.contact }}">
            {{ site.contact_nav }}
          </a>
        </li>
        <li id="social-site-header-transition-text" class="main-site-header-link transition-item" aria-hidden="true">
          <p id="social-text" class="transition-item-text">
            Social
          </p>
        </li>
      </ul>
      <ul id="social-site-header-links" class="social-site-header-links" aria-hidden="true">
        <li class="social-site-header-link">
          <a class="header-link-text" href="{{ site.github }}">
            <i class="fab fa-github"></i>
            {% comment %}
            <!-- for hamburger menu -->
            <!--
              <span class="social-name">
                - Github
              </span>
            -->
            {% endcomment %}
          </a>
        </li>
        <li class="social-site-header-link">
          <a class="header-link-text" href="{{ site.linkedin }}">
            <i class="fab fa-linkedin"></i>
            {% comment %}
            <!-- for hamburger menu -->
            <!-- 
              <span class="social-name">
                - LinkedIn
              </span>
            -->
            {% endcomment %}
          </a>
        </li>
        <li class="social-site-header-link">
          <a class="header-link-text" href="{{ site.instagram }}">
            <i class="fab fa-instagram"></i>
            {% comment %}
            <!-- for hamburger menu -->
            <!-- 
              <span class="social-name">
                - Instagram
              </span>
            -->
            {% endcomment %}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>