<ul>
  {% for post in include.posts %}
    <a class="collection-post-link" href="{{ post.url }}">
      <li class="collection-post-list-item">
        {{ post.title }}
        <span class="collection-post-date">
          {% if include.last_update %}
            {% if page.last_updated %}
              - last updated: {{ page.last_updated | date: "%B %d, %Y" }}
            {% else %}
              - last updated: {{ post.date | date: "%B %d, %Y" }}
            {% endif %}
          {% else %}
            - {{ post.date | date: "%B %d, %Y" }}
          {% endif %}
        </span>
      </li>
    </a>
  {% endfor %}
</ul>