<ul id="scroll-link-icons" class="scroll-link-icons fixed" aria-hidden="true">
  <li class="scroll-link-icon">
    <a class="scroll-link-icon-text" href="{{ site.feed_path }}" target="_blank" rel="noopener noreferrer" tabindex="-1">
      <span class="fa-stack fa-2x">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  <li class="scroll-link-icon">
    <a class="scroll-link-icon-text" href="{{ site.blog }}" tabindex="-1">
      <span class="fa-stack fa-2x">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-home fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  <li class="scroll-link-icon">
    <a id="scroll-up-fade" class="scroll-link-icon-text" tabindex="-1">
      <span class="fa-stack fa-2x">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-arrow-up fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
</ul>