{% if include.position == 'top' %}
  {% assign position = 'top-caption' %}
{% else %}
  {% assign position = 'bottom-caption' %}
{% endif %}

{% if include.align == 'center' %}
  {% assign align = 'center-table-caption' %}
{% elsif include.align == 'right' %}
  {% assign align = 'right-table-caption' %}
{% else %}
  {% assign align = 'left-table-caption' %}
{% endif %}

{% if include.class %}
  {% assign class = include.class %}
{% else %}
  {% assign class = '' %}
{% endif %}

<div class="{{ position }} {{ align }} {{ class }}">
  {{ include.caption | markdownify | remove: '<p>' | remove: '</p>' }}
</div>