// ---------------------------------------------------------------
// File: _media-queries.scss
// Author: Tad McCorkle
// Media queries used throughout the site are defined here.
// ---------------------------------------------------------------


// logic:
// The site is designed for 'screen-a'. Changes to the site occur
// as screen size decreases. Each screen defined below 'screen-a'
// follows the convention 'screen-b', 'screen-c', and so on.

$screen-f-max : 360px;
$screen-e-max : 480px;
$screen-d-max : 700px;
$screen-c-max : 880px;
$screen-b-max : 960px;


// ------------ effects screen size and below

@mixin screen-f {
  @media screen and (max-width: $screen-f-max) {
    @content;
  }
}

@mixin screen-e {
  @media screen and (max-width: $screen-e-max) {
    @content;
  }
}

@mixin screen-d {
  @media screen and (max-width: $screen-d-max) {
    @content;
  }
}

@mixin screen-c {
  @media screen and (max-width: $screen-c-max) {
    @content;
  }
}

@mixin screen-b {
  @media screen and (max-width: $screen-b-max) {
    @content;
  }
}


// ------------ only effects screen size

// @mixin only-screen-e {
//   @media screen and (min-width: $screen-f-max + 1) and (max-width: $screen-e-max) {
//     @content;
//   }
// }

// @mixin only-screen-d {
//   @media screen and (min-width: $screen-e-max + 1) and (max-width: $screen-d-max) {
//     @content;
//   }
// }

// @mixin only-screen-d {
//   @media screen and (min-width: $screen-e-max + 1) and (max-width: $screen-d-max) {
//     @content;
//   }
// }

// @mixin only-screen-c {
//   @media screen and (min-width: $screen-d-max + 1) and (max-width: $screen-c-max) {
//     @content;
//   }
// }

@mixin only-screen-b {
  @media screen and (min-width: $screen-c-max + 1) and (max-width: $screen-b-max) {
    @content;
  }
}

@mixin only-screen-a {
  @media screen and (min-width: $screen-b-max + 1) {
    @content;
  }
}


// ------------ only effects specified screen sizes

@mixin only-screens-ab {
  @media screen and (min-width: $screen-c-max + 1) {
    @content;
  }
}
