/**
 * File: _element-layouts.scss
 * Author: Tad McCorkle
 * File for layout styling, mostly to
 * be used in markdown files.
 *
 * Elements:
 * - .limit-width-10e/r
 * - .limit-width-20e/r
 * - .limit-width-30e/r
 * - .limit-width-40e/r
 * - .limit-width-50e/r
 * - .full-width
 * - .limit-height-10e/r
 * - .limit-height-20e/r
 * - .limit-height-30e/r
 * - .limit-height-40e/r
 * - .limit-height-50e/r
 * - .left, .align-left
 * - .right, .align-right
 * - .center
 * - .multi-center
 * - .fixed
 * - .absolute
 * - .relative
 * - .block
 * - .inline
 * - .inline-block
 * - .hidden
 * - .sr-visible
 */


// implementation

.limit-width-10e {
  max-width: 10em;
}

.limit-width-20e {
  max-width: 20em;
}

.limit-width-30e {
  max-width: 30em;
}

.limit-width-40e {
  max-width: 40em;
}

.limit-width-50e {
  max-width: 50em;
}

.limit-width-10r {
  max-width: 10rem;
}

.limit-width-20r {
  max-width: 20rem;
}

.limit-width-30r {
  max-width: 30rem;
}

.limit-width-40r {
  max-width: 40rem;
}

.limit-width-50r {
  max-width: 50rem;
}

.full-width {
  width: 100%;
}

.limit-height-10e {
  max-height: 10em;
}

.limit-height-20e {
  max-height: 20em;
}

.limit-height-30e {
  max-height: 30em;
}

.limit-height-40e {
  max-height: 40em;
}

.limit-height-50e {
  max-height: 50em;
}

.limit-height-10r {
  max-height: 10rem;
}

.limit-height-20r {
  max-height: 20rem;
}

.limit-height-30r {
  max-height: 30rem;
}

.limit-height-40r {
  max-height: 40rem;
}

.limit-height-50r {
  max-height: 50rem;
}

.left, .align-left {
  float: left;
}

.right, .align-right {
  float: right;
}

.center {
  display: block;
  margin: auto;
}

.multi-center {
  text-align: center;
  margin: auto;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.hidden {
  display: none;
}

// for screen readers
.sr-visible {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

// for honeypot
.no-vis-or-sr {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: -1;
}
