/**
 * File: _page-content.scss
 * Author: Tad McCorkle
 * File for styling the primary page content.
 *
 * Abstract SASS Elements:
 * - heading
 * - list
 *   - .no-indentation
 * - nested-list
 *
 * Elements:
 * - .page-content
 *   - h1, h2, h3
 *   - h4, h5, h6
 *   - p, a
 *   - ul, ol, li
 *   - .bottom-caption
 *   - figure
 *   - table
 *     - .with-caption
 *   - blockquote
 *   - q
 *   - hr
 *
 *   - Imports:
 *     - about
 *     - contact
 *     - home
 *     - posts
 *     - projects
 *     - comments
 *     - form-elements
 *     - loading
 *
 * - .page-top
 */


// extensions

%heading {
  font-family: $heading-font-family;
  letter-spacing: $heading-letter-spacing;
  padding: $heading-padding-size 0;
  font-weight: normal;
  overflow-wrap: break-word;
}

%list {
  padding-bottom: 1.5rem;
  padding-left: 2.5rem;
  list-style-type: decimal;

  &.no-indentation {
    padding-left: 0;
  }
}

%nested-list {
  padding-top: 0;
  padding-bottom: 0;
}


// implementation

.page-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: auto;
  padding-bottom: 2.5rem;
  text-align: left;
  width: 100%;
  max-width: $max-page-width;

  h1 {
    @extend %heading;
    font-size: $h1-font-size;
    @include screen-f {
      font-size: $h1-font-size-f;
    }
  }

  h2 {
    @extend %heading;
    font-size: $h2-font-size;
    @include screen-f {
      font-size: $h2-font-size-f;
    }
  }

  h3 {
    @extend %heading;
    font-size: $h3-font-size;
    @include screen-f {
      font-size: $h3-font-size-f;
    }
  }

  h4 {
    @extend %heading;
    font-size: $h4-font-size;
    @include screen-f {
      font-size: $h4-font-size-f;
    }
  }

  h5 {
    @extend %heading;
    font-size: $h5-font-size;
    @include screen-f {
      font-size: $h5-font-size-f;
    }
  }

  h6 {
    @extend %heading;
    font-size: $h6-font-size;
    @include screen-f {
      font-size: $h6-font-size-f;
    }
  }

  p,
  li {
    font-size: $p-font-size;
    line-height: $p-line-height;
    @include screen-c {
      font-size: $p-font-size-c;
    }
    @include screen-d {
      font-size: $p-font-size-d;
    }
    @include screen-f {
      font-size: $p-font-size-f;
    }

    > a:hover {
      text-decoration: underline;
    }
  }

  p,
  figure,
  .bottom-caption {
    padding-bottom: $p-padding-bottom;
  }

  table {
    margin-bottom: $p-padding-bottom;

    &.with-caption {
      margin-bottom: 0;
    }
  }

  a {
    color: $link-font-color;
    text-decoration: none;

    &:hover {
      color: $link-hover-font-color;
    }
  }

  ol {
    @extend %list;

    > li {
      list-style-type: decimal;

      > ol {
        @extend %nested-list;

        > li {
          list-style-type: lower-alpha;

          > ol > li {
            list-style-type: lower-roman;
          }
        }
      }

      > ul {
        @extend %nested-list;
      }
    }
  }

  ul {
    @extend %list;

    > li {
      list-style-type: disc;

      > ol {
        @extend %nested-list;
      }

      > ul {
        @extend %nested-list;

        > li {
          list-style-type: circle;

          > ul > li {
            list-style-type: square;
          }
        }
      }
    }
  }

  blockquote {
    border-left: 3px solid #4ca9d0;
    background-color: $text-background-color;
    padding: 1.5rem 2.5rem;
    font-style: italic;
    margin-bottom: 1.5rem;

    > h1, > h2, > h3,
    > h4, > h5, > h6 {
      padding-top: 0;
      letter-spacing: -1px;
    }

    > p {
      padding: 0;
    }
  }

  q {
    display: inline;

    &:before {
      content: open-quote;
    }

    &:after {
      content: close-quote;
    }
  }

  hr {
    margin-top: 0;
    margin-bottom: $p-padding-bottom;
    border-color: $content-border-color;
    border-bottom-width: 0.5px;
    border-top-width: 0;
    border-style: solid;
    font-size: $p-font-size;
    @include screen-c {
      font-size: $p-font-size-c;
    }
    @include screen-d {
      font-size: $p-font-size-d;
    }
    @include screen-f {
      font-size: $p-font-size-f;
    }
  }


  /* import specific page stylings within .page-content */

  @import
    'pages/about',
    'pages/contact',
    'pages/home',
    'pages/posts',
    'pages/projects'
  ;


  /* import components to page content */

  @import
    'components/comments',
    'components/form-elements',
    'components/loading'
  ;
}

.page-top {
  padding-bottom: 2.5rem;
}
