/**
 * File: _site-content.scss
 * Author: Tad McCorkle
 * File for styling the container for the header,
 * footer, and page content.
 *
 * Elements:
 * - .site-content
     - .not-smallest
 */


.site-content {
  // always use full window
  min-height: 100vh;

  // page border
  box-sizing: border-box;
  border-top: $page-border-small-size solid $page-border-color;
  border-bottom: $page-border-small-size solid $page-border-color;
  // border: $page-border-large-size solid $page-border-color;

  // content padding
  padding: 0 $side-padding-size;
  @include screen-c {
    padding: 0 $side-padding-size-c;
  }
  @include screen-e {
    padding: 0 $side-padding-size-e;
  }

  // child distribution
  display: flex;
  flex-direction: column;

  // page background
  background-color: $main-background-color;

  // set common font color
  color: $main-font-color;

  // some things don't display on very small screens
  @include screen-f {
    .not-smallest {
      display: none;
    }
  }
}
