/**
 * File: _site-footer.scss
 * Author: Tad McCorkle
 * File for styling the site footer.
 *
 * Abstract SASS Elements:
 * - footer-link
 *
 * Elements:
 * - .footer-container
 * - .site-footer
 * - .main-site-footer-link
 * - .social-site-footer-link
 * - .footer-link-text
 * - .copyright
 */


// extensions

%footer-link {
  display: inline-block;
  vertical-align: middle;
  padding: 0.5em;
  @include screen-c {
    display: block;
  }
}


// implementation

.footer-container {
  margin: auto;
  padding-bottom: $footer-bottom-padding-size;
  max-width: $max-page-width;
}

.site-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  border-top: $content-border-size solid $content-border-color;
  @include screen-c {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.main-site-footer-link {
  @extend %footer-link;
  font-size: $normal-footer-link-font-size;
  font-style: italic;
  @include screen-c {
    padding-left: 0.75em;
    text-align: left;
  }
  @include screen-f {
    font-size: $normal-footer-link-font-size-f;
  }
}

.social-site-footer-link {
  @extend %footer-link;
  font-size: $social-footer-link-font-size;
  @include screen-c {
    padding-bottom: 0.2em;
    padding-right: 0.75em;
    letter-spacing: 0;
  }
  @include screen-f {
    font-size: $social-footer-link-font-size-f;
  }
}

.footer-link-text {
  // @include ease-in(color);
  font-family: $footer-links-font-family;
  color: $footer-link-font-color;
  text-decoration: none;

  &:hover {
    color: $highlight-font-color;
  }
}

.copyright {
  padding-top: 1.25em;
  text-align: center;
  font-size: $copyright-font-size;
  @include screen-c {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    padding-right: 1.5em;
    text-align: right;
  }
  @include screen-f {
    font-size: $copyright-font-size-f;
  }
}
