/**
 * File: _site-header.scss
 * Author: Tad McCorkle
 * File for styling the site header.
 *
 * Elements:
 * - .header-container
 * - .site-nav
 * - .site-header-logo
 * - .site-title
 * - .site-tagline
 * - .main-tageline
 *   - .hide
 * - .alt-tagline
 *   - .show
 *
 * Imports:
 * - Hamburger Menu
 * - Header Links
 */


// implementation

.header-container {
  margin: auto;
  max-width: $max-page-width;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 3rem 0;
  border-bottom: $content-border-size solid $content-border-color;
  @include screen-b {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  @include only-screen-b {
    padding-bottom: 1.1rem;
  }
  @include screen-c {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-header-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  @include screen-c {
    text-align: center;
    padding-bottom: 0.5rem;
  }
}

.site-title {
  @include ease-in(color);
  font-family: $header-logo-font-family;
  font-size: $site-title-font-size;
  font-weight: $bold-montserrat-weight;
  letter-spacing: -1px;
  color: $header-logo-font-color;
  text-decoration: none;
  @include screen-f {
    font-size: $site-title-font-size-f;
  }

  &:hover {
    color: $highlight-font-color;
  }
}

.site-tagline {
  position: relative;
  font-family: $header-logo-font-family;
  font-size: $site-tagline-font-size;
  @include screen-c {
    display: none;
  }
  @include screen-f {
    font-size: $site-tagline-font-size-f;
  }
}

.main-tagline {
  @include ease-in-out(opacity);
  opacity: 1;

  &.hide {
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }
}

.alt-tagline {
  @include ease-in-out(opacity);
  opacity: 0;
  position: absolute;
  pointer-events: none;
  visibility: hidden;

  &.show {
    opacity: 1;
    position: relative;
    pointer-events: all;
    visibility: visible;
  }
}


/* import components to site header */

@import
  // 'components/hamburger',
  'components/header-links'
;
