/**
 * File: _comment.scss
 * Author: Tad McCorkle
 * File for styling the comment section.
 *
 * Abstract SASS Elements:
 * - comment-label-font
 *
 * Elements:
 * - .comment
 * - .comment-parent
 * - .comment-child
 * - .comment-icon
 * - .comment-text-container
 * - .comment-meta
 * - .comment-name
 * - .comment-message
 * - .comment-reply
 * - .respond
 * - .comment-form
 * - .comment-field
 * - .comment-label-check
 * - .comment-form-subscribe-check
 * - .comment-form-subscribe-check-front
 * - .comment-form-subscribe-check-back
 *   - svg
 *     - path
 * - .comment-form-subscribe-message
 * - .comment-submit-success
 * - .comment-submit-failure
 * - .comment-cancel
 */


// extensions

%comment-label-font {
  font-family: $label-font-family;
  font-size: $comment-label-font-size;
  @include screen-c {
    font-size: $comment-label-font-size-c;
  }
  @include screen-d {
    font-size: $comment-label-font-size-d;
  }
  @include screen-f {
    font-size: $comment-label-font-size-f;
  }
}


// implementation

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.comment-parent {
  padding-bottom: 3rem;
  width: 100%;
}

.comment-child {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-left: 8rem;
  padding-top: 3rem;
  @include screen-c {
    padding-left: 5rem;
  }
}

.comment-icon {
  width: 8rem;
  border: none;
  border-radius: 50%;
  @include screen-c {
    width: 5rem;
  }
}

.comment-text-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  vertical-align: top;
  padding-left: 1rem;
}

.comment-meta {
  padding: 0 0 0.5em 0;
  margin-bottom: 0.5em;
  border-bottom: 1px solid $comment-field-border-color;
  font-family: $main-text-font-family;
  font-size: $comment-small-font-size;
  @include screen-d {
    font-size: $comment-small-font-size-d;
  }
  @include screen-f {
    font-size: $comment-small-font-size-f;
  }
}

.comment-message,
.comment-name {
  font-family: $main-text-font-family;
  font-size: $comment-font-size;
  @include screen-d {
    font-size: $comment-font-size-d;
  }
  @include screen-f {
    font-size: $comment-font-size-f;
  }
}

.comment-name {
  padding: 0.25em 0;
}

.comment-message {
  padding-bottom: 0;
}

.comment-reply {
  padding-top: 0.5em;
  font-family: $main-text-font-family;
  font-size: $comment-small-font-size;
  @include screen-d {
    font-size: $comment-small-font-size-d;
  }
  @include screen-f {
    font-size: $comment-small-font-size-f;
  }
}

.respond {
  position: relative;
}

.comment-form {
  text-align: left;
  width: 100%;
}

.comment-field {
  padding: 0 0 2rem;
}

.comment-label-check {
  @extend %comment-label-font;
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;

  > input {
    display: none;

    &:checked + .comment-form-subscribe-check {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }
}

.comment-form-subscribe-check {
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;

  &:hover > .comment-form-subscribe-check-front {
    -webkit-transform: scaleX(0.9) scaleY(0.9);
            transform: scaleX(0.9) scaleY(0.9);
  }
}

.comment-form-subscribe-check-front,
.comment-form-subscribe-check-back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.comment-form-subscribe-check-front {
  background: #FFF;
  border: 1px solid $comment-field-border-color;
  z-index: 1;
}

.comment-form-subscribe-check-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background: $comment-field-focus-border-color;
  border: 1px solid $comment-field-focus-border-color;
  text-align: center;
  color: #FFF;

  > svg {
    fill: none;
    width: 50%;
    height: 100%;

    > path {
      stroke: white;
      stroke-width: 2.5;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
}

.comment-form-subscribe-message {
  padding-left: 0.5em;
  vertical-align: middle;
  font-style: italic;
}

.comment-submit-success {
  @extend %comment-label-font;
  padding: 0 0 2rem;
  line-height: $p-line-height;
  font-style: italic;
}

.comment-submit-failure {
  @extend %comment-label-font;
  padding: 1em;
  margin-bottom: 2rem;
  line-height: $p-line-height;
  font-style: italic;
  border-top: 2px;
  border-bottom: 2px;
  border-color: #FF0000;
  border-style: solid;
}

.comment-cancel {
  padding-left: 1em;
  font-weight: $bold-montserrat-weight;
  color: $cancel-font-color;
}
