/**
 * File: _hamburger.scss
 * Author: Tad McCorkle
 * File for styling the hamburger menu icon.
 *
 * Elements:
 * - .hamburger
 *   - .patty
 */


// implementation

.hamburger {
  cursor: default;
  pointer-events: none;
  display: none;
  background: unset;
  border: unset;
  outline: unset;
  @include screen-c {
    cursor: pointer;
    pointer-events: all;
    display: initial;
  }

  .patty {
    width: $hamburger-patty-width;
    height: $hamburger-patty-height;
    margin: $hamburger-patty-spacing 0;
    opacity: 1;
    background-color: $hamburger-menu-color;
    -webkit-transition: $hamburger-dropdown-duration;
    transition: $hamburger-dropdown-duration;
  }

  &:hover:not(.active) .patty {
    -webkit-transform: scaleX(1.2);
            transform: scaleX(1.2);
  }

  &.active .patty {
    &:nth-child(1) {
      -webkit-transform: translate(0, $hamburger-patty-spacing + $hamburger-patty-height) rotate(-45deg);
              transform: translate(0, $hamburger-patty-spacing + $hamburger-patty-height) rotate(-45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      -webkit-transform: translate(0, -($hamburger-patty-spacing + $hamburger-patty-height)) rotate(45deg);
              transform: translate(0, -($hamburger-patty-spacing + $hamburger-patty-height)) rotate(45deg);
    }
  }
}
