/**
 * File: _header-links.scss
 * Author: Tad McCorkle
 * File for styling the site header links.
 *
 * Abstract SASS Elements:
 * - header-links
 * - header-link
 *
 * Elements:
 * - .main-site-header-links
 * - .social-site-header-links
 * - .main-site-header-link
 * - .social-site-header-link
 * - .header-link-text
 * - .transition-item
 * - .transition-item-text
 * - .social-name
 */


// extensions

%header-links {
  cursor: default;
  list-style: none;
  text-align: right;
  @include only-screens-ab {
    display: inline-block !important;
  }
  @include screen-c {
    display: none;
    flex: 100%;
  }
}

%header-link {
  display: inline-block;
  vertical-align: middle;
  padding: 0.5em;
  font-size: $header-link-font-size;
  @include screen-c {
    display: block;
  }
  @include screen-f {
    font-size: $header-link-font-size-f;
  }
}


// implementation

.main-site-header-links {
  @extend %header-links;
  @include only-screen-a {
    align-self: flex-end;
  }
}

.social-site-header-links {
  @extend %header-links;
  @include only-screen-b {
    flex: 100%;
  }

  // show header links when active
  &.active .social-site-header-link,
  .social-site-header-link:focus-within {
    @include only-screens-ab {
      cursor: pointer;
      pointer-events: all;
      box-sizing: content-box;
      width: 1em;
      padding-left: 1em;
      opacity: 1;
    }
    @include only-screen-b {
      height: 1em;
      transform: scale(1, 1);
    }
  }
}

.main-site-header-link {
  @extend %header-link;
}

.social-site-header-link {
  @extend %header-link;
  @include only-screens-ab {
    @include ease-in-out;
    cursor: default;
    pointer-events: none;
    width: 0;
    padding-left: 0;
    padding-right: 0;
    letter-spacing: 0;
    opacity: 0;
  }
  @include only-screen-b {
    height: 0;
    transform: scale(0, 0);
  }
}

.header-link-text {
  position: relative;
  font-family: $header-links-font-family;
  color: $header-link-font-color;
  text-decoration: none;
  @include only-screens-ab {
    @include underline;
  }
  @include screen-c {
    @include ease-in(color);

    &:hover {
      color: $highlight-font-color;
    }
  }
}

.transition-item {
  @include screen-c {
    display: none;
  }
}

.transition-item-text {
  position: relative;
  font-family: $header-links-font-family;
  color: $header-link-font-color;
  @include only-screen-a {
    @include arrow-right;
  }
  @include only-screen-b {
    @include arrow-down;
  }

  &:hover {
    cursor: pointer;
  }
}

.social-name {
  display: none;
  @include screen-c {
    display: initial;
  }
}
