// ---------------------------------------------------------------
// File: _durations.scss
// Author: Tad McCorkle
// Durations for transitions throughout the site are defined here.
// ---------------------------------------------------------------

$transition-duration            : 0.25s   !default;
$scroll-link-fade-duration      : 0.15s   !default;

// duration of jquery animation
$hamburger-dropdown-duration    : 0.3s    !default;
