:root {
	--font-body: "Source Serif Pro", Georgia, serif;
	--font-heading: "Source Sans Pro", "Open Sans", "Segoe UI", Ubuntu, sans-serif;
	--font-mono: "Source Code Pro", Consolas, Monaco, monospace;
	--default-font-size: 1.1rem;
	--small-font-size: 0.95rem;
	--code-font-size: 0.9rem;
	--bg: #fbfbf8;
	--primary-color: #b40;
	--secondary-color: #dbdce0;
	--text-color: #222;
	--section-padding: 1em;

	font-family: var(--font-body);
	color: var(--text-color);
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

@media (max-width: 480px) {
	html {
		font-size: 0.9rem;
	}
}

@media (max-width: 340px) {
	html {
		font-size: 0.85rem;
	}
}

body {
	margin: 0;
	padding: 0 1.5rem;
	min-height: 100vh;
	word-wrap: break-word;
	background-color: var(--bg);
	border-top: 2px solid var(--primary-color);
	border-bottom: 2px solid var(--primary-color);
	display: flex;
}

#svelte {
	flex: 1;
	margin: 0 auto;
	max-width: 600px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0.5em 0;
	font-family: var(--font-heading);
}

p,
ul,
ol {
	margin: 0;
	font-size: var(--default-font-size);
	line-height: 1.7;
}

p {
	padding: 0 0 var(--section-padding) 0;
}

ul,
ol {
	padding: 0 0 var(--section-padding) 2.5rem;
}

li > ul,
li > ol {
	padding-bottom: 0;
}

a {
	color: var(--primary-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.2rem;
}

h4 {
	font-size: 1.2rem;
	font-style: italic;
}

h5 {
	font-size: 1.1rem;
}

h6 {
	font-size: 1.1rem;
	font-style: italic;
}

pre {
	font-size: var(--code-font-size);
	font-family: var(--font-mono);
	padding: 0 0 var(--section-padding) 0;
	margin: 0;
	overflow-x: auto;
}

code {
	font-size: var(--code-font-size);
	font-family: var(--font-mono);
	border-radius: 3px;
	background-color: var(--secondary-color);
	padding: 0.1em 0.25em;
}

i,
em {
	font-style: italic;
}

b,
strong {
	font-weight: 700;
}

hr {
	margin-top: 0;
	margin-bottom: 1.8rem;
	border-color: var(--secondary-color);
	border-bottom-width: 0.5px;
	border-top-width: 0;
	border-style: solid;
}

table {
	margin: auto;
	width: 95%;
	border-collapse: collapse;
	margin-bottom: var(--section-padding);
	font-size: var(--default-font-size);
}

th {
	font-style: italic;
	border-bottom: 2px solid var(--secondary-color);
	padding: 0.6em 0.5em;
}

tbody tr {
	border-bottom: 1px solid var(--secondary-color);
}

tbody tr:last-child {
	border-bottom: none;
}

tbody tr:hover {
	background-color: var(--secondary-color);
}

td {
	padding: 0.4em 0.5em;
}
