---
layout: blog
---

<header>
  <h1 class="post-title">
    {{ page.title }}
  </h1>
  {% include post-meta.html %}
</header>
<section>
  {{ content }}
  <div>
    <div class="lower-post-meta-icons">
      {% include add-this.html %}
      <a id="scroll-up-perm" class="scroll-link-icon-text not-smallest" aria-hidden="true">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-arrow-up fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </div>
    {% if page.tags.size > 0 %}
      <span>
        <p class="inline">
          <i>
            Tags:
          </i>
        </p>
        <ul class="post-tags">
          {% for tag in page.tags %}
            {% assign tag_slug = tag | slugify %}
            <li class="post-tag">
              <a class="post-tag-link" href="{{ site.tag_url | append: '#' | append: tag_slug }}">
                {{ tag }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </span>
    {% endif %}
    {% if page.previous or page.next %}
      <div class="prev-next">
        {% if page.previous %}
          <a class="prev-next-post prev-post" href="{{ page.previous.url }}">
            &larr; Prev Post
          </a>
        {% endif %}
        {% if page.next %}
          <a class="prev-next-post" href="{{ page.next.url }}">
            Next Post &rarr;
          </a> 
        {% endif %}
      </div>
    {% endif %}
  </div>
</section>
{% if page.comments %}
  {% include comments.html %}
{% endif %}