---
layout: default
---

<div class="page-top"></div>
<div id="post-container" class="post-container">
  <article class="post">
    {{ content }}
  </article>
  <div class="post-horizontal-padding"></div>
  <div class="screen-c">
    <hr>
  </div>
  <aside class="post-links">
    <div class="post-vertical-padding"></div>
    <ul class="no-indentation post-top-links">
        <li class="blog-link-list-item">
          <a class="blog-link" href="{{ site.feed_path }}" target="_blank">
            <i class="fas fa-rss"></i>
            <span>
              Feed
            </span>
          </a>
        </li>
      <li class="blog-link-list-item">
        <a class="blog-link" href="{{ site.mailing_list_path }}">
          <i class="fas fa-envelope"></i>
          <span>
            Subscribe
          </span>
        </a>
      </li>
      <li class="blog-link-list-item">
        <a class="blog-link" href="{{ site.blog }}">
          <i class="fas fa-home"></i>
          <span>
            Blog Home
          </span>
        </a>
      </li>
    </ul>
    <h5 class="post-link-heading">
      Recent Posts
    </h5>
    <ul class="no-indentation">
      {% for post in site.posts limit:5 %}
        <li class="post-link-list-item">
          <a class="post-link" href="{{ post.url }}">
            {{ post.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
    <h5 class="post-link-heading">
      Other Links
    </h5>
    <ul id="last-links" class="no-indentation">
      <li class="post-link-list-item">
        <a class="post-link" href="{{ site.living_url }}">
          Living Posts
        </a>
      </li>
      <li class="post-link-list-item">
        <a class="post-link" href="{{ site.category_url }}">
          Post Categories
        </a>
      </li>
      <li class="post-link-list-item">
        <a class="post-link" href="{{ site.tag_url }}">
          Post Tags
        </a>
      </li>
    </ul>
    {% if site.scroll_links %}
      {% include scroll-links.html %}
    {% endif %}
  </aside>
</div>