---
layout: default
---

<article class="home-container">
  <section class="site-intro">
    <h1 class="greeting">
      Hi! I'm Tad.
    </h1>
    {{ content }}
  </section>
  <section class="site-summary">
    <h2>
      Recent blog posts
    </h2>
    {% assign recent_posts = site.posts | slice:0,10 %}
    {% include post-list.html posts=recent_posts %}
    <h2>
      Subscribe to my blog
    </h2>
    {% include subscribe.html %}
    <h2>
      You can also find me here
    </h2>
    <ul>
      <a href="{{ site.github }}" target="_blank">
        <li class="home-social-list-item">
          <i class="fab fa-github"></i> - GitHub
        </li>
      </a>
      <a href="{{ site.linkedin }}" target="_blank">
        <li class="home-social-list-item">
          <i class="fab fa-linkedin"></i> - LinkedIn
        </li>
      </a>
      <a href="{{ site.instagram }}" target="_blank">
        <li class="home-social-list-item">
          <i class="fab fa-instagram"></i> - Instagram
        </li>
      </a>
    </ul>
  </section>
</article>